@page "/Install"
@namespace FenixAlliance.ABS.Installer.Core.Pages

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Installer | Alliance Business Suite</title>
    <base href="~/" />

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="/installer/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/installer/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/installer/assets/css/form-elements.css">
    <link rel="stylesheet" href="/installer/assets/css/style.css">
    <link rel="stylesheet" href="/installer/css/site.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/installer/assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/installer/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/installer/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/installer/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/installer/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" />
    <link href="/Installer/lib/holdon.js/src/download/HoldOn.min.css" rel="stylesheet">
</head>

<body>

    <!-- Top menu -->
    <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Alliance Business Suite Web Installer</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="top-navbar-1">
                <ul class="nav navbar-nav navbar-right" style="color:#002050">
                    <li>
                        <span class="li-text" style="color:#002050">
                            Put some text or
                        </span>
                        <a href="#" style="color:#002050"><strong>links</strong></a>
                        <span class="li-text" style="color:#002050">
                            here, or some icons:
                        </span>
                        <span class="li-social">
                            <a href="https://facebook.com/fenixalliance"><i style="color:#002050" class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/fenixalliance"><i style="color:#002050" class="fa fa-twitter"></i></a>
                            <a href="mailto:support@@fenix-alliance.com"><i style="color:#002050" class="fa fa-envelope"></i></a>
                            @*<a href="#"><i class="fa fa-skype"></i></a>*@
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>

    <!-- Javascript -->
    <script src="/installer/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/installer/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/installer/assets/js/jquery.backstretch.min.js"></script>
    <script src="/installer/assets/js/retina-1.1.0.min.js"></script>
    <script src="/installer/assets/js/scripts.js"></script>
    <script src="/Installer/lib/holdon.js/src/download/HoldOn.min.js"></script>

    <!--[if lt IE 10]>
        <script src="/assets/js/placeholder.js"></script>
    <![endif]-->
    <script src="_framework/blazor.server.js"></script>

</body>

</html>
